---
layout: base
---

<div class="container mt">
    <div class="row">

        {% include appheader.html %}

        <div style="margin-top:25px" class="col-md-6">

            <h5 style='font-weight:600'>SingularityApp.{{ page.slug }}</h5>
            <div class="spacing"></div>
            
            <div id="recipe">
            {{ content }}
            </div>

        </div>
        <div style="margin-top:25px" class="col-md-2"></div>
        <div class="col-md-4">
            <div class="spacing"></div>

            <!-- Copy to clipboard -->
            <div class="row">
                <div class="col-md-2">
                    <button style="margin-top:55px" id="recipe" class="btn btn-theme copyme" data-clipboard-target="#recipe"><i class="fa fa-copy"></i></button>
	        </div>
                <div class="col-md-5">
                    <button style="margin-top:55px" id="addapp" data-name="{{ page.slug }}" class="btn btn-theme"><i id="inrecipe" class="fa fa-star-o"></i> Add to Recipe</button>
                 </div>
                 <div class="col-md-2">
                    <a><button style="margin-top:55px"  class="btn btn-theme"><i title="Generate" class="fa fa-gear"></i></button></a>
	        </div>
            </div>

            <div style="padding-bottom:20px" class="hline"></div>
            <p><b>Date: </b> {{ page.date | date: "%b %-d, %Y" }}</p>
            <p><b>Author: </b> {{ page.author }}</p>
            {% if page.categories %}
            <p><b>Categories:</b>{% for cat in page.categories %}
                    {{ cat }}{% unless forloop.last %},{% endunless %}{% endfor %}</p>
            {% endif %}
            {% if page.tags %}
            <p><b>Tags: </b>{% for tag in page.tags %}{{ tag }} {% unless forloop.last %},{% endunless %}{% endfor %}</p>
            {% endif %}
            {% if page.files %}
            <p><b>Files: </b>{% for file in page.files %}<a href="{{ file }}"> {{ file }}<br></a>{% unless forloop.last %},{% endunless %}{% endfor %}</p>
            {% endif %}
        </div>
    </div><! --/row -->
</div><! --/container -->
	 
{% include notification.html %}
<script>
var recipes;

$(document).ready(function(){
    if (localStorage.getItem("scif-recipes") === null) {  
        recipes = "{}";
        localStorage.setItem("scif-recipes", recipes)
    } else {
       recipes = JSON.parse(localStorage.getItem('scif-recipes'));
    }

    // If recipe in box, make filled in star
    if (Object.prototype.hasOwnProperty.call(recipes, "{{ page.slug }}")) {
        $("#inrecipe").removeClass('fa-star-o');
        $("#inrecipe").addClass('fa fa-star');
        $("#addapp").attr('disabled',true)
    }
    console.log("Recipes in box!")
    console.log(recipes);
})

$("#addapp").click(function(){
    recipes = JSON.parse(localStorage.getItem('scif-recipes'));
    if (Object.prototype.hasOwnProperty.call(recipes, "{{ page.slug }}")){
       toast_message('This recipe is already in your box!','info');
    } else {
       recipes["{{ page.slug }}"] = $("#recipe").text();
       console.log(recipes)
       localStorage.setItem("scif-recipes", JSON.stringify(recipes))
       $("#inrecipe").removeClass('fa-star-o');
       $("#inrecipe").addClass('fa fa-star');
       $("#addapp").attr('disabled',true)
       toast_message('Recipe added to box!','info');
    }
})

$('.copyme').click(function(){
    var copy_id = $(this).attr('id')
    var content = $("code")
    var range = document.createRange();  
    range.selectNode(content[0])  
    window.getSelection().addRange(range)

  try {  
        // Now that we've selected the anchor text, execute the copy command  
        var successful = document.execCommand('copy');  
        var msg = successful ? 'successful' : 'unsuccessful';  
        toast_message('Copy ' + msg)
      }  catch(err) {  
        toast_message('Oops, unable to copy');  
      }  

    // removeRange(range) when it is supported  
    window.getSelection().removeAllRanges();  

});
</script>
